<div class="admin-dashboard">
  <div class="container">
    <div>
      <h1>Admin Dashboard</h1>

      <%= render 'anouncements' %>
      <%= render 'alerts' %>
      <%= render 'documents' %>

    </div>
  </div>
</div>
