 .footer {
    color: rgba(white, 0.5);
    background-color: $blue2;
    display: block;
    margin: 0px;
    ul {
      display: inline-block;
    }
    #map {height: 300px;}
    .contact-info {
      width: 100%;
      border-top: 1px solid rgba(black, 0.1);
      display: flex;
      justify-content: space-around;
      padding-top: 20px;
    }
    .copyright {
        padding: 10px 10px 1px 0px;
        line-height: 20px;
        background-color: $blue2;
        text-align: right;
        a {
            color: rgba(white, 0.5);
            font-weight: 700;
        }
    }
}
a:hover {color: $green1; text-decoration: none;}
