.services {
	@include flex-box-column;
    background-color: white;


	p {text-indent: 30px;}
	h1 {color: $blue1}
	ul {
        display: inline-block;
        font-weight: 700;
	}
	ul li {
        color: $blue1;
        padding: 10px;
        font-size: 20px;
    }
}
