.testimonials { 
    background-image: image-url("Vphoto-3.jpg");
    background-size: cover;
    background-position: center;
    overflow: hidden;

    .wrapper {
    @include flex-box-column;
    padding-top: 50px;
    width: 100%;
    @include rgbaBlue2(.7);
    height: 210px;
    }
}


.text-carousel {
    display: flex;
    max-width: 800px; 

    p {
    padding: 0 150px;
    color: white;
    text-indent: 40px;      
    }
}

.big-quote {
    height: 30px;
    position: absolute;
    margin-left: 140px;
}

.name {font-style: italic;}