.testimonials {
    background-image: image-url("Vphoto-3.jpg");
    background-size: cover;
    background-position: center;
    overflow: hidden;
    width: 80%;
    box-shadow: 0px 0px 60px rgba(black, 0.1);

    .wrapper2 {
    @include flex-box-column;
    padding-top: 50px;
    width: 100%;
    @include rgbaBlue2(.7);
    height: 210px;
    }
}


.text-carousel {
    display: flex;
    max-width: 800px;

    p {
    padding: 0 150px;
    color: white;
    text-indent: 40px;
    }
    .slick-prev, .slick-next {
      margin: 15px;
      margin-top: -20px;
    }
}

.big-quote {
    height: 30px;
    position: absolute;
    margin-left: 140px;
}

.name {font-style: italic;}

@mixin testimonials-responsive {
  .testimonials {
    width: 100%;
  }
  .testimonials .wrapper2 {
      height: 450px;
  }
  .text-carousel {
      max-width: 900px;

      p {
          font-size: 40px;
          text-indent: 100px;
          line-height: 1.5;
      }
  }
  .big-quote {
      height: 60px;
  }
}
