<div class="page-module">
  <div class="wraper">
    <div class="container3">
      <p id="notice"><%= notice %></p>
      <h1>User Settings</h1>
      <p>
        <strong>username:</strong>
        <%= @user.username %>
      </p>


      <p>
        <strong>admin rights:</strong>
        <%= @user.admin %>
      </p>

      <%= link_to 'edit username and password', edit_user_path(@user) %>
    </div>
  </div>
</div>
