<div class="page-module">
       <div class="image-carousel wrapper">
           <div id="photo-11">
               <div class="caption">
                   <span>Promote positive changes in behavior</span>
               </div>
           </div>
           <div id="photo-22">
               <div class="caption">
                   <span>Teach new adaptive behavior skills</span>
               </div>
           </div>
           <div id="photo-33">
               <div class="caption">
                   <span>Challenge clients to learn the skills they need to return to the community</span>
               </div>
           </div>
       </div>
</div>
