<div class="page-module">
  <div class="wraper">
    <div id="service" class="services container">
        <div>
            <h1>OUR SERVICES</h1>
            <ul>
                <li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Education</li>
                <li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Extended School Year</li>
                <li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>State and District Assessment Administration</li>
                <li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Day Hab</li>
                <li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Behavior Management</li>
                <li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Year Round Program</li>
                <li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Non-Instructional Days Support</li>                    <li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Psychiatric Consultation and Medication Management</li>
                <li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Training and Staff Support During Reintegration</li>
            </ul>
            </div>
        </div>
    </div>

  </div>
</div>
