<div class="page-module">
  <div class="wraper">
    <div class="container">
      <h1>New Document</h1>

      <%= render 'form' %>

      <%= link_to 'Back', dashboard_index_path %>
    </div>
  </div>
</div>
