<!-- javascript is broken or something idk.... le sign -->
<div id="resource" class="resources">
            <h1>RESOURCES</h1>
            <div class="resources-links">
                <!-- add Day Hab Calendars too? -->
                <a class="Cal2015">2015 Calendar</a>
                
                <a class="Cal2016">2016 Calendar</a>
                <a class="Cal2015DayHab">2015 Day Hab Calendar</a>
                <a class="Cal2016DayHab">2016 Day Had Calendar</a>
                <a class="SchoolSupply">School Supply List</a>
                <a class="LunchMenu">Lunch Menu</a>
            </div>
            <div id="pdf">
                <object type="application/pdf" data="../assets/Cal2015.pdf?#zoom=50&scrollbar=0&toolbar=0&navpanes=0" id="pdf_content">
                    <p>Not Available</p>
                </object>
                <a type="button" id="pdf_open" href="../assets/cal2015.pdf">Open pdf</div>
            </div>
            <a class="open-btn" href="">open</a>
            <h3>View on Desktop to Download Complete Files</h3>
        </div>