<div id="anounce" class="anouncements">
            <h1>ANOUNCEMENTS</h1>                    
    <div>
        <% @post.each do |post| %>  
            <div class="post">
                <h2><%= post.title %></h2>
                <p class="date"><%= post.created_at.strftime("%a %l:%M%P %b %d, %Y")%></p>
                <div><%= post.body %></div>    
            </div>
        <% end %>
    </div>  
</div>




            
        <div id="resource" class="resources">
            <h1>RESOURCES</h1>
            <div class="resources-links">
                <!-- add Day Hab Calendars too? -->
                <a class="Cal2015">2015 Calendar</a>
                <a class="Cal2016">2016 Calendar</a>
                <a class="Cal2015DayHab">2015 Day Hab Calendar</a>
                <a class="Cal2016DayHab">2016 Day Had Calendar</a>
                <a class="SchoolSupply">School Supply List</a>
                <a class="LunchMenu">Lunch Menu</a>
            </div>
            <div id="pdf">
                <object type="application/pdf" data="../assets/Cal2015.pdf?#zoom=50&scrollbar=0&toolbar=0&navpanes=0" id="pdf_content">
                    <p>Not Available</p>
                </object>
            </div>
            <h3>View on Desktop to Download Complete Files</h3>
        </div>

 
