<div id="anounce" class="anouncements">
            <h1>ANOUNCEMENTS</h1>
                    <a class="twitter-timeline" href="https://twitter.com/FortBendISD" data-widget-id="638832779543711744" data-chrome="noheader nofooter noborders">Tweets by @FortBendISD</a>                    
</div>
            
        <div id="resource" class="resources">
            <h1>RESOURCES</h1>
            <div class="resources-links">
                <!-- add Day Hab Calendars too? -->
                <a class="Cal2015">2015 Calendar</a>
                <a class="Cal2016">2016 Calendar</a>
                <a class="Cal2015DayHab">2015 Day Hab Calendar</a>
                <a class="Cal2016DayHab">2016 Day Had Calendar</a>
                <a class="SchoolSupply">School Supply List</a>
                <a class="LunchMenu">Lunch Menu</a>
            </div>
            <div id="pdf">
                <object type="application/pdf" data="../assets/Cal2015.pdf?#zoom=50&scrollbar=0&toolbar=0&navpanes=0" id="pdf_content">
                    <p>Not Available</p>
                </object>
            </div>
            <h3>View on Desktop to Download Complete Files</h3>
        </div>

 
