.alerts {
    box-sizing: border-box;
    padding: 10px 20px 5px 20px;
    color: rgba(white, 0.5);
    background-color: rgba(red, 0.7);
    border-bottom: 2px solid rgba(white, 0.1);
    p {
      display: inline-block;
      line-height: 1.5;
    }
    p:first-child {
      width: 80%;
    }
    #date {
      float: right;
      width: 20%;
    }
}
