.flash-msg {
  border: 1px solid rgba(cyan, 0.5);
  background-color: rgba(cyan, 0.1);
  color: rgba(black, 0.4);
  border-radius: 20px;
  line-height: 0;
  padding: 20px;
  position: relative;

  .glyphicon {
    float: right;
    line-height: 0;
    padding: 0;
    color: rgba(cyan, 0.5) !important; 
  }

}
