.about {
    margin-top: -100px;
    padding: 50px 20px 100px 20px;
    text-indent: 30px;
    background-color: white;
    @include flex-box-column;

    div {max-width: 800px;}
    h1 {color: #404e66}
    a {font-weight: 700;}
}






