/* ==== About Us ==== */
.about {
    margin-top: -100px;
    padding: 50px 20px 100px 20px;
    text-indent: 30px;
    background-color: white;
}

.about div {max-width: 800px;}

.about h1 {color: #404e66}

.about a {font-weight: 700;}