/* ==== Anouncements ==== */
.anouncements {
    background-color: white;
    border-bottom: 1px solid #e8e8e8;
    padding-top: 200px;
    padding-bottom: 50px;

    display: flex;
    align-items: center;
    flex-direction: column;
    
    h1 {color: #24334c;}
    div {max-width: 800px;}
    .post {
        padding-bottom: 20px;
    }

}