/* ==== Footer ==== */
.footer {
    --padding-top: 1px;
    color: white;
    background-color: #404e66;
}

#map {height: 300px;}

.contact-info {
    padding: 80px 0px;
    height: 300px;
    width: 48%;
    background-color: rgba(37,51,77,.7);
    position: absolute;
    z-index: 7;
}

.contact-info a {
    color: white;
}
.copyright {
    padding: 10px 10px 1px 0px;
    line-height: 20px;
    background-color: #25334d;
    text-align: right;
}


/* 
todo:
1. weird 1px margin/gutter


*/
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) {
    #map {
        height: 600px;
    }
    .contact-info {
        padding-top: 100px;
        height: 600px;
    }
    .contact-info li {
        font-size: 27px;
        line-height: 2.5;
    }
    .copyright {
        font-size: 40px;
    }
}

a:hover {color: #a9fa00; text-decoration: none;}
