.footer {
    color: white;
    background-color: #404e66;
}

#map {height: 300px;}

.contact-info {
    padding: 80px 0px;
    height: 300px;
    width: 48%;
    background-color: rgba(37,51,77,.7);
    position: absolute;
    z-index: 7;

    a {
    color: white;
    @include flex-box-column;
    }
}

.copyright {
    padding: 10px 10px 1px 0px;
    line-height: 20px;
    background-color: #25334d;
    text-align: right;
}

a:hover {color: #a9fa00; text-decoration: none;}
