.image-carousel {
    /*put background image bc of weird flashing :(*/
    background-image: url(../assets/Vphoto-1.jpg);
    background-size: cover;
    div {
        background-size: cover;
        height: 600px;
        width: 100%;
    }
    .slick-next {
        margin-right: 50px;    
    }
    .slick-prev {
        margin-left: 50px;
        z-index: 80;
    }
}

#photo-11 {background-image: url(../assets/Vphoto-1.jpg);}
#photo-22 {background-image: url(../assets/Vphoto-2.jpg);}
#photo-33 {background-image: url(../assets/Vphoto-3.jpg);}

.caption {
    position: relative;
    width: 700px;
    z-index: 20;
    margin-top: 440px;
    line-height: 2;
    font-size: 40px;
    font-weight: 700;
    color: white;
    span {
    background-color: rgba(169,250,0,.7); 
    padding: 10px;  
    }
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .caption {
        font-size: 50px;
        margin-top: -350px;
    }
}