.post {
    border-top: 1px solid lightgray;
    max-width: 800px;
    
    h2, p {display: inline-block}
    h2 {
        font-size: 22px;
        color: $blue2
    }
    .date { 
        float: right;
        color: darkgrey;
        padding-left: 10px;
    }
}

#manage-view {
    @include flex-box-column;
    padding-top: 200px;    
    
    h1 {
        color: $blue1;
        padding-bottom: 0px
    }
    .create-btn {
        @include btn-theme
    }
    a {color: $blue1}
    .del {color: red}
}

.form-view {
    @include flex-box-column;
    padding-top: 200px;

    input, textarea {
        width: 800px;
    }

    .submit-btn {
        @include btn-theme
    }
}
