/* Media Queries */
/* Update when changes are made in main files*/


/* ----------- iPhone 6 ----------- */
/* inside main files */

/* ----------- iPhone 6+ ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) {
h1 {
        font-size: 60px;
    }
    .glyphicon-ok {
        font-size: 40px;
        padding-right: 30px;
    }
    p, a {
        font-size: 35px;
        line-height: 1.8;
    }

    .mobile-nav-button {
        visibility: inherit;
    }
    #left-nav, .text-logo { visibility: hidden}
    .navv {
        visibility: hidden;
        position: fixed;
        margin-bottom: 0px;
        height: 100%;
        width: 500px;
        
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        -webkit-flex-direction: column;
    }
    .nav-links {
        margin-top: -20px;
        padding-left: 20px;
        background-color: transparent;
        
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        -webkit-flex-direction: column;
    }
    .nav-links a {
        width: 400px;
        font-size: 50px;
        line-height: 3;
        border-bottom: 1px solid grey;    
    }
    .is-fixed {
    -webkit-animation: none;
    animation: none;
      }
 .caption {
        font-size: 50px;
        margin-top: -350px;
    }
      .testimonials .wrapper {
        height: 450px;
    }
    .text-carousel {
        max-width: 900px;
    }
    .text-carousel p {
        font-size: 40px;
        text-indent: 100px;
        line-height: 1.5;

    }
    .big-quote {
        height: 60px;
    }
    .services div {max-width: 900px;}
    .services ul li {
        line-height: 2;
        border-bottom: 1px solid #eee;
        font-size: 30px;
    }
    .anouncements {
        padding-top: 100px;
    }
    .resources {
    height: 1000px;
    }
    .resources-links {
        max-width: 900px;
        margin-left: 100px;
    }
    .resources-links a {
        width: 400px;
        font-weight: 700;
        font-size: 30px;
        line-height: 2;
        padding: 20px;
    }
    h3 {
        visibility: inherit;;
    }
       #map {
        height: 600px;
    }
    .contact-info {
        padding-top: 100px;
        height: 600px;
    }
    .contact-info li {
        font-size: 27px;
        line-height: 2.5;
    }
    .copyright {
        font-size: 40px;
    }
}  

/* ----------- iPhone 5 and 5S ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
h1 {
        font-size: 60px;
    }
    .glyphicon-ok {
        font-size: 40px;
        padding-right: 30px;
    }
    p, a {
        font-size: 35px;
        line-height: 1.8;
    }

    .mobile-nav-button {
        visibility: inherit;
    }
    #left-nav, .text-logo { visibility: hidden}
    .navv {
        visibility: hidden;
        position: fixed;
        margin-bottom: 0px;
        height: 100%;
        width: 500px;
        
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        -webkit-flex-direction: column;
    }
    .nav-links {
        margin-top: -20px;
        padding-left: 20px;
        background-color: transparent;
        
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        -webkit-flex-direction: column;
    }
    .nav-links a {
        width: 400px;
        font-size: 50px;
        line-height: 3;
        border-bottom: 1px solid grey;    
    }
    .is-fixed {
    -webkit-animation: none;
    animation: none;
      }
 .caption {
        font-size: 50px;
        margin-top: -350px;
    }
      .testimonials .wrapper {
        height: 450px;
    }
    .text-carousel {
        max-width: 900px;
    }
    .text-carousel p {
        font-size: 40px;
        text-indent: 100px;
        line-height: 1.5;

    }
    .big-quote {
        height: 60px;
    }
    .services div {max-width: 900px;}
    .services ul li {
        line-height: 2;
        border-bottom: 1px solid #eee;
        font-size: 30px;
    }
    .anouncements {
        padding-top: 100px;
    }
    .resources {
    height: 1000px;
    }
    .resources-links {
        max-width: 900px;
        margin-left: 100px;
    }
    .resources-links a {
        width: 400px;
        font-weight: 700;
        font-size: 30px;
        line-height: 2;
        padding: 20px;
    }
    h3 {
        visibility: inherit;;
    }
       #map {
        height: 600px;
    }
    .contact-info {
        padding-top: 100px;
        height: 600px;
    }
    .contact-info li {
        font-size: 27px;
        line-height: 2.5;
    }
    .copyright {
        font-size: 40px;
    }
}  

/* ----------- iPhone 4 and 4S ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
h1 {
        font-size: 60px;
    }
    .glyphicon-ok {
        font-size: 40px;
        padding-right: 30px;
    }
    p, a {
        font-size: 35px;
        line-height: 1.8;
    }

    .mobile-nav-button {
        visibility: inherit;
    }
    #left-nav, .text-logo { visibility: hidden}
    .navv {
        visibility: hidden;
        position: fixed;
        margin-bottom: 0px;
        height: 100%;
        width: 500px;
        
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        -webkit-flex-direction: column;
    }
    .nav-links {
        margin-top: -20px;
        padding-left: 20px;
        background-color: transparent;
        
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        -webkit-flex-direction: column;
    }
    .nav-links a {
        width: 400px;
        font-size: 50px;
        line-height: 3;
        border-bottom: 1px solid grey;    
    }
    .is-fixed {
    -webkit-animation: none;
    animation: none;
      }
 .caption {
        font-size: 50px;
        margin-top: -350px;
    }
      .testimonials .wrapper {
        height: 450px;
    }
    .text-carousel {
        max-width: 900px;
    }
    .text-carousel p {
        font-size: 40px;
        text-indent: 100px;
        line-height: 1.5;

    }
    .big-quote {
        height: 60px;
    }
    .services div {max-width: 900px;}
    .services ul li {
        line-height: 2;
        border-bottom: 1px solid #eee;
        font-size: 30px;
    }
    .anouncements {
        padding-top: 100px;
    }
    .resources {
    height: 1000px;
    }
    .resources-links {
        max-width: 900px;
        margin-left: 100px;
    }
    .resources-links a {
        width: 400px;
        font-weight: 700;
        font-size: 30px;
        line-height: 2;
        padding: 20px;
    }
    h3 {
        visibility: inherit;;
    }
       #map {
        height: 600px;
    }
    .contact-info {
        padding-top: 100px;
        height: 600px;
    }
    .contact-info li {
        font-size: 27px;
        line-height: 2.5;
    }
    .copyright {
        font-size: 40px;
    }
}  

/* ----------- Galaxy S5 ----------- */
/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {
h1 {
        font-size: 60px;
    }
    .glyphicon-ok {
        font-size: 40px;
        padding-right: 30px;
    }
    p, a {
        font-size: 35px;
        line-height: 1.8;
    }

    .mobile-nav-button {
        visibility: inherit;
    }
    #left-nav, .text-logo { visibility: hidden}
    .navv {
        visibility: hidden;
        position: fixed;
        margin-bottom: 0px;
        height: 100%;
        width: 500px;
        
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        -webkit-flex-direction: column;
    }
    .nav-links {
        margin-top: -20px;
        padding-left: 20px;
        background-color: transparent;
        
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        -webkit-flex-direction: column;
    }
    .nav-links a {
        width: 400px;
        font-size: 50px;
        line-height: 3;
        border-bottom: 1px solid grey;    
    }
    .is-fixed {
    -webkit-animation: none;
    animation: none;
      }
 .caption {
        font-size: 50px;
        margin-top: -350px;
    }
      .testimonials .wrapper {
        height: 450px;
    }
    .text-carousel {
        max-width: 900px;
    }
    .text-carousel p {
        font-size: 40px;
        text-indent: 100px;
        line-height: 1.5;

    }
    .big-quote {
        height: 60px;
    }
    .services div {max-width: 900px;}
    .services ul li {
        line-height: 2;
        border-bottom: 1px solid #eee;
        font-size: 30px;
    }
    .anouncements {
        padding-top: 100px;
    }
    .resources {
    height: 1000px;
    }
    .resources-links {
        max-width: 900px;
        margin-left: 100px;
    }
    .resources-links a {
        width: 400px;
        font-weight: 700;
        font-size: 30px;
        line-height: 2;
        padding: 20px;
    }
    h3 {
        visibility: inherit;;
    }
       #map {
        height: 600px;
    }
    .contact-info {
        padding-top: 100px;
        height: 600px;
    }
    .contact-info li {
        font-size: 27px;
        line-height: 2.5;
    }
    .copyright {
        font-size: 40px;
    }
}  

/* ----------- Galaxy S4 ----------- */
/* Portrait and Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {
h1 {
        font-size: 60px;
    }
    .glyphicon-ok {
        font-size: 40px;
        padding-right: 30px;
    }
    p, a {
        font-size: 35px;
        line-height: 1.8;
    }

    .mobile-nav-button {
        visibility: inherit;
    }
    #left-nav, .text-logo { visibility: hidden}
    .navv {
        visibility: hidden;
        position: fixed;
        margin-bottom: 0px;
        height: 100%;
        width: 500px;
        
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        -webkit-flex-direction: column;
    }
    .nav-links {
        margin-top: -20px;
        padding-left: 20px;
        background-color: transparent;
        
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        -webkit-flex-direction: column;
    }
    .nav-links a {
        width: 400px;
        font-size: 50px;
        line-height: 3;
        border-bottom: 1px solid grey;    
    }
    .is-fixed {
    -webkit-animation: none;
    animation: none;
      }
 .caption {
        font-size: 50px;
        margin-top: -350px;
    }
      .testimonials .wrapper {
        height: 450px;
    }
    .text-carousel {
        max-width: 900px;
    }
    .text-carousel p {
        font-size: 40px;
        text-indent: 100px;
        line-height: 1.5;

    }
    .big-quote {
        height: 60px;
    }
    .services div {max-width: 900px;}
    .services ul li {
        line-height: 2;
        border-bottom: 1px solid #eee;
        font-size: 30px;
    }
    .anouncements {
        padding-top: 100px;
    }
    .resources {
    height: 1000px;
    }
    .resources-links {
        max-width: 900px;
        margin-left: 100px;
    }
    .resources-links a {
        width: 400px;
        font-weight: 700;
        font-size: 30px;
        line-height: 2;
        padding: 20px;
    }
    h3 {
        visibility: inherit;;
    }
       #map {
        height: 600px;
    }
    .contact-info {
        padding-top: 100px;
        height: 600px;
    }
    .contact-info li {
        font-size: 27px;
        line-height: 2.5;
    }
    .copyright {
        font-size: 40px;
    }
}  

/* ----------- Galaxy S3 ----------- */
/* Portrait and Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) {
h1 {
        font-size: 60px;
    }
    .glyphicon-ok {
        font-size: 40px;
        padding-right: 30px;
    }
    p, a {
        font-size: 35px;
        line-height: 1.8;
    }

    .mobile-nav-button {
        visibility: inherit;
    }
    #left-nav, .text-logo { visibility: hidden}
    .navv {
        visibility: hidden;
        position: fixed;
        margin-bottom: 0px;
        height: 100%;
        width: 500px;
        
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        -webkit-flex-direction: column;
    }
    .nav-links {
        margin-top: -20px;
        padding-left: 20px;
        background-color: transparent;
        
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        -webkit-flex-direction: column;
    }
    .nav-links a {
        width: 400px;
        font-size: 50px;
        line-height: 3;
        border-bottom: 1px solid grey;    
    }
    .is-fixed {
    -webkit-animation: none;
    animation: none;
      }
 .caption {
        font-size: 50px;
        margin-top: -350px;
    }
      .testimonials .wrapper {
        height: 450px;
    }
    .text-carousel {
        max-width: 900px;
    }
    .text-carousel p {
        font-size: 40px;
        text-indent: 100px;
        line-height: 1.5;

    }
    .big-quote {
        height: 60px;
    }
    .services div {max-width: 900px;}
    .services ul li {
        line-height: 2;
        border-bottom: 1px solid #eee;
        font-size: 30px;
    }
    .anouncements {
        padding-top: 100px;
    }
    .resources {
    height: 1000px;
    }
    .resources-links {
        max-width: 900px;
        margin-left: 100px;
    }
    .resources-links a {
        width: 400px;
        font-weight: 700;
        font-size: 30px;
        line-height: 2;
        padding: 20px;
    }
    h3 {
        visibility: inherit;;
    }
       #map {
        height: 600px;
    }
    .contact-info {
        padding-top: 100px;
        height: 600px;
    }
    .contact-info li {
        font-size: 27px;
        line-height: 2.5;
    }
    .copyright {
        font-size: 40px;
    }
}  

/* ----------- HTC One ----------- */
/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {
h1 {
        font-size: 60px;
    }
    .glyphicon-ok {
        font-size: 40px;
        padding-right: 30px;
    }
    p, a {
        font-size: 35px;
        line-height: 1.8;
    }

    .mobile-nav-button {
        visibility: inherit;
    }
    #left-nav, .text-logo { visibility: hidden}
    .navv {
        visibility: hidden;
        position: fixed;
        margin-bottom: 0px;
        height: 100%;
        width: 500px;
        
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        -webkit-flex-direction: column;
    }
    .nav-links {
        margin-top: -20px;
        padding-left: 20px;
        background-color: transparent;
        
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        -webkit-flex-direction: column;
    }
    .nav-links a {
        width: 400px;
        font-size: 50px;
        line-height: 3;
        border-bottom: 1px solid grey;    
    }
    .is-fixed {
    -webkit-animation: none;
    animation: none;
      }
 .caption {
        font-size: 50px;
        margin-top: -350px;
    }
      .testimonials .wrapper {
        height: 450px;
    }
    .text-carousel {
        max-width: 900px;
    }
    .text-carousel p {
        font-size: 40px;
        text-indent: 100px;
        line-height: 1.5;

    }
    .big-quote {
        height: 60px;
    }
    .services div {max-width: 900px;}
    .services ul li {
        line-height: 2;
        border-bottom: 1px solid #eee;
        font-size: 30px;
    }
    .anouncements {
        padding-top: 100px;
    }
    .resources {
    height: 1000px;
    }
    .resources-links {
        max-width: 900px;
        margin-left: 100px;
    }
    .resources-links a {
        width: 400px;
        font-weight: 700;
        font-size: 30px;
        line-height: 2;
        padding: 20px;
    }
    h3 {
        visibility: inherit;;
    }
       #map {
        height: 600px;
    }
    .contact-info {
        padding-top: 100px;
        height: 600px;
    }
    .contact-info li {
        font-size: 27px;
        line-height: 2.5;
    }
    .copyright {
        font-size: 40px;
    }
}  



