.services {
	@include flex-box-column;
    padding: 0px 20px 100px 20px;
    background-color: white;


	p {text-indent: 30px;}
	div {max-width: 800px;}
	h1 {color: $blue1}
	ul { 
        display: inline-block;
        font-weight: 700;
	}
	ul li {
        color: $blue1;
        padding: 10px;
        font-size: 20px;
    }
}