/* ==== Our Services ==== */
.services {
    padding: 0px 20px 100px 20px;
    background-color: white;
    @include flex-box;

	p {text-indent: 30px;}

	div {max-width: 800px;}
	
	h1, ul {color: 25344d}
	
	ul { 
    display: inline-block;
    font-weight: 700;
	}
	
	ul li {
    color: #57667c;
    padding: 10px;
    font-size: 20px;
    }
}