body {
    margin: 0; 
}

/* mixins */
@mixin flex-box-column {
    display: flex;
    align-items: center;
    flex-direction: column;
}
@mixin btn-theme {
    border: 2px solid $green1;
    padding: 3px 5px 3px 5px;
    margin-bottom: 20px; 
    color: $green1;
    font-weight: 700;
    background-color: white;    
}
@mixin btn-hover {
        color: white;
        background-color: $green1;
}




/* variables */
/*todo: use more var magic*/
$green1: #a9fa00;
$blue1: #404e66;
@mixin rgbaBlue1($a) {background-color: rgba(63,77,101,$a);}
$blue2: #25334d;
@mixin rgbaBlue2($a) {background-color: rgba(37,51,77,$a);}



/*Typography*/
* {
    font-family: Roboto, sans-serif;
}
h1 {
    font-weight: 700; 
    font-size: 30px; 
    text-align: center; 
    padding-bottom: 15px; 
    padding-top: 20px;
}
p, a, li {
    font-size: 16px; 
    line-height: 30px;
    text-decoration: none;
    /* a:hover{} at bottom */
}
ul{
    list-style-type: none;
}
.glyphicon {
    color: $green1; 
    padding-right: 13px;
}