.resources {
    @include flex-box-column;
    height: auto;
    background-color: white;
    padding-bottom: 50px;

    h1, a {color: $blue2;}
    h1 {padding-bottom: 30px}
    .open-btn {
        visibility: hidden;
        @include btn-theme;
        font-size: 20px;
        padding-bottom: 20px;
        padding: 0 20px 0 20px;
        line-height: 2.5;
    }
    .open-btn:hover {@include btn-hover;}
    .resources-links {
        padding-bottom: 0px;
        max-width: 600px;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        a {
            width: 200px;
            padding-left: 30px;
        }
    }
    #pdf object {
        width: 800px;
        height: 400px;
        -webkit-overflow-scrolling:touch;
    }
    h3 {
        color: $green1;
        font-weight: 700;
        visibility: hidden;
    }

    /*new css, need to save old css*/
    h2, #pdf_open {display: inline-block;}
    h2 {
        --float: left;
    }
    #pdf_open {@include btn-theme;
        font-size: 20px;
    }
}