.resources {
    @include flex-box-column;
    height: 800px;
    background-color: white;
    padding-bottom: 50px;

    h1, a {color: $blue2;}
}

.resources-links {
    padding-bottom: 20px;
    max-width: 600px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    a {
    width: 200px;
    padding-left: 30px;
    }
}

#pdf object {
    width: 600px;
    height: 500px;
    -webkit-overflow-scrolling:touch;
}

h3 {
    color: $green1;
    font-weight: 700;
    visibility: hidden;
}