<div id="contact" class="footer">

      <h1>CONTACT US</h1>

      <div class="contact-info">
        <ul>
          <li>Providence Treatment Center</li>
          <li>311 Present Street</li>
          <li>Missouri City</li>
          <li>TX, 77489</li>
        </ul>
        <ul>
            <li><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>(281) 208-1117</li>
            <li><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>info@providencetreatmentcenter.com</li>
        </ul>
      </div>

      <div id="map"></div>
       <div class="copyright randomxx">
          <p><!-- <%= link_to 'Manage', posts_path %> - -->Website Created by <a href="http://www.melissamartinez.me">Melissa Martinez</a> - Copyright © 2016 Providence Treatment Center</p>
      </div>
  </div>

<!-- google maps -->
 <script async defer
   src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD6J6WFaD2V_bYZNIN6499yEtedZA5qW50&callback=initMap">
 </script>
